.footer {
    background-color: #000; 
    color: #fff; 
    padding: 40px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    gap: 20px;
  }
  
  .footer-left {
    flex: 1;
    min-width: 200px;
  }
  
  .footer-left h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .footer-icons i {
    font-size: 24px;
    margin: 0 8px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .footer-icons i:hover {
    color: #fdd835; 
  }
  
  .footer-left p {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 300;
  }
  
  .footer-center {
    flex: 1;
    min-width: 200px;
  }
  
  .back-to-top {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
  
  .back-to-top i {
    font-size: 20px;
    margin-right: 5px;
  }
  
  .footer-right {
    flex: 1;
    display: flex;
    justify-content: space-between;
    min-width: 200px;
  }
  
  .footer-right ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-right ul li {
    margin-bottom: 8px;
  }
  
  .footer-right ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
  }
  
  .footer-right ul li a:hover {
    text-decoration: underline;
  }
  