

.recipe-description {
    font-family: K2D;
    color:black;
    padding: 20px;
    text-align:justify;
    background-color: #faf8fa;
    
  }
  
  .recipe-details {
    max-width: 900px;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    border: 3px solid#66023C;
  }
  
  h1 {
    font-size: 2.5rem;
    color:white;
    font-weight:bolder;
    margin-bottom: 15px;
    text-align: center;
  }
  .topic-bar{
    background-color:#290118;
    width:100%;

  }
  .icon-bar2 {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 10px;
  }
  
  .icon-button2 {
    background: #e7e2e2; 
    border: none;
    border-radius: 5px;
    padding: 20px 40px;
    cursor: pointer;
  }
  
  .icon-button2:hover {
    background: #d1bed5; 
  }
  
  .icon-button2 i {
    font-size: 20px;
    color:#290118; 
  }
  
  .recipe-details img {
    display: block;
    width: 600px;
    height:700px;
    margin: auto;
    border-radius: 8px;
  }
  
  
  .recipe-meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background:#290118;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  .recipe-meta p {
    margin: 5px 0;
    display: flex;
    align-items: center;
    font-size: 1rem;
    color:white;
  }
  
  .recipe-meta p svg {
    margin-right: 8px;
    color: white;
  }
.Food-description
{
    font-size:1.2rem;
    text-align:center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight:550;    
}
  
  .ingredients h2,
  .directions h2 {
    font-size: 1.8rem;
    color:black;
    margin-bottom: 10px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
  }
  
  .ingredients ul {
    list-style: disc;
    margin-left: 20px;
    padding-left: 20px;
  }
  
  .ingredients ul li {
    font-size: 1.1rem;
    margin-bottom: 8px;
  }
  
  
  .directions ol {
    list-style: decimal;
    margin-left: 20px;
    padding-left: 20px;
  }
  
  .directions ol li {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  
  
  @media (max-width: 768px) {
    .recipe-meta {
      flex-direction: column;
    }
  
    .recipe-meta p {
      justify-content: center;
    }
  }
  .review-bg
  {
    width:100%;
    background-color: #cbc9cb;
    margin-top: 10px;
    padding:20px;
    
 
    
  }

  .review-container{
    width:60%;
    background-color:white;
    margin:auto;
    padding:20px;
    align-items:center;
    border-color:solid#290118;
   
  }
  h3{
    font-size:2rem;
    color:black;
    text-align: center;
    margin-bottom: 20px;
  }
  h4{
    font-size:1.2rem;
    color:black;
    margin-bottom:10px;
    
  }
  .slogan{
    font-size:1rem;
    color:black;
  
  }
  .slogan2{
    font-size:1rem;
    color:black;
    font-weight:bold;
    margin-bottom: 10px;

  }
  
  .review-bar1{
  
    margin-top: 10px;
  
  
  }
  .review-bar2{
  
    margin-top: 10px;
  
  }
  .review-bar3{
  
    margin-top: 10px;
  
  }

  .comment{
padding:50px;
margin:auto;
width:100%;
height: 20px;
border:1;
align-items: center;
margin-bottom: 10px;


  }
  .Name{
    padding:20px;
    margin:auto;
    width:100%;
    height: 20px;
    border:1;
    align-items: center;
    margin-bottom: 10px;
    
    
      }
      .Email{
        padding:20px;
        margin:auto;
        width:100%;
        height: 20px;
        border:1;
        align-items: center;
        margin-bottom: 10px;
        
          }




.Submit-button{
  padding:5px 20px;
  font-size: 1rem;
  background-color:black; 
  color:white;
  cursor: pointer;
  transition: 0.3s ease;
  margin-left:650px;
  

}
.Submit-button:hover
{
  background-color:#858383f1;
}
  